<!-- <div class="car-list">
  <div class="top-header">
    <h2>Samochody do wynajęcia:</h2>
    <ul> -->
      <!-- Użyj dyrektywy *ngFor, aby iterować po każdym samochodzie w liście -->
      <!-- <li *ngFor="let car of cars" class="car-item">
        <div class="car-details">
          <h3>{{ car.brand}} {{car.model}}</h3>
          <img src={{car.image}} class="car-photo"/>
          <p>Numer rejestracyjny: {{ car.regPlate }}</p>
          <p>Rok produkcji: {{ car.productionYear }}</p>
            <button (click)="navigateToRent(car.id)">Wynajmij</button>
          <br><br><br>
        </div>
      </li>
    </ul>
  </div>
</div> -->

<div class="car-list">
  <div class="top-header">
    <h2>Samochody do wynajęcia:</h2>
    <label for="sortDropdown">Sortuj według:</label>
    <select id="sortDropdown" [(ngModel)]="selectedSortOption" (change)="sortBy()">
      <option *ngFor="let option of sortOptions" [value]="option.value">{{ option.label }}</option>
    </select>
    <!-- <select id="sortDropdown" (change)="sortBy($event)">
      <option value="id">ID</option>
      <option value="brand">Marka</option>
      <option value="model">Model</option>
      <option value="regPlate">Numer rejestracyjny</option>
      <option value="status">Status</option>
      <option value="productionYear">Rok produkcji</option>
    </select> -->
    <ul>
      <li *ngFor="let car of cars" class="car-item">
        <div class="car-details">
          <h3>{{ car.brand}} {{car.model}}</h3>
          <img src={{car.image}} class="car-photo"/>
          <p>Numer rejestracyjny: {{ car.regPlate }}</p>
          <p>Rok produkcji: {{ car.productionYear }}</p>
            <button (click)="navigateToRent(car.id)">Wynajmij</button>
          <br><br><br>
        </div>
      </li>
    </ul>
  </div>
</div>