body {
    background-color: linen;
  }
.main-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  margin: 20px; 
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 50px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #333;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: darksalmon;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: darkorange;
}

main {
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 5px;
}

footer {
  margin-top: 20px;
  text-align: center;
  color: #777;
}

.company-logo{
  max-height: 250px;
}

.car-photo{
  max-width: 350px;
}

.car-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.top-header {
  width: 80%; /* Możesz dostosować szerokość według potrzeb */
}


.car-list ul {
  list-style-type: none; /* Wyłącza domyślne kropki */
  padding: 0; /* Usuwa domyślne wcięcie lewe */
}

.car-list li {
  margin-bottom: 10px; /* Dodaje odstęp między elementami listy */
}
