<main class="main">
  <div class="homepage-container">
    <header>
      <h1>Wypożyczalnia Samochodów</h1>
      <img src="au.jpg" alt="Logo" class="company-logo" />
     
      <nav>
        <a (click)="navigateToHome()">Strona główna</a>
        <a (click)="navigateToCarList()">Lista Samochodów</a>
        <a (click)="navigateToLogin()">Zaloguj/Zarejestruj</a>
      </nav>
    </header>
  
    <main>
      <router-outlet></router-outlet>
    </main>
  
    <footer>
      <p>&copy; 2023 Wypożyczalnia Samochodów</p>
      <nav> <a (click)="navigateToContact()">Kontakt</a> </nav>
    </footer>
  </div>
</main>