<main class="main">
  <div class="homepage-container">
    <header>
      <h1>Wypożyczalnia Samochodów</h1>
      <nav>
        <a routerLink="/car-list">Lista Samochodów</a>
        <a routerLink="/login">Zaloguj się/Dołącz</a>
        <a routerLink="/profile">Historia wypożyczeń</a>
      </nav>
    </header>
  
    <main>
      <router-outlet>Działamy na Polskim rynku od 15 lat i oferujemy różnorodne auta w konkurencyjnych cenach. Zobacz nasze nowości w zakładce "Lista samochodów"</router-outlet>
    </main>
  
    <footer>
      <p>&copy; 2023 Wypożyczalnia Samochodów</p>
      <nav> <a routerLink="/contact">Kontakt</a> </nav>
    </footer>
  </div>
</main>